<a href="https://colab.research.google.com/github/chabpre/dataprovisual/blob/main/Exam_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course."

References:

https://jingwen-z.github.io/how-to-play-with-regular-expression-via-python/

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

https://github.com/nurfnick/Data_Viz

https://github.com/chabpre/dataprovisual

A. ) Store the data as a pandas dataframe. Examine each datatype and comment on the appropriateness of
each.

In [24]:
import pandas as pd
import re
import numpy as np

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')

df.head(20)

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88
5,5,2022-01-01,Outdoor Cycling,5.47,117,144,NaN,2.20,43.47,291.67,...,NaN,NaN,142.0,177.0,107,44,45,15,57,39
6,6,2022-01-01,Indoor Cycling,6.28,66,378,NaN,10.65,23.83,253.84,...,NaN,NaN,85.0,90.0,80,34,32,0,44,23
7,7,2022-01-01,Outdoor Running,2.94,26,430,7618.0,10.59,131.93,334.72,...,27:44,06:15,145.0,190.0,100,23,0,71,18,3
8,8,2022-01-01,Trail Run,2.87,26,465,2790.0,32.92,21.42,341.17,...,25:50,06:20,142.0,188.0,96,2,0,80,46,13
9,9,2022-01-01,Pool Swimming,3.91,23,99,NaN,33.15,169.30,206.97,...,NaN,NaN,132.5,175.0,90,22,20,15,28,20
10,10,2022-01-01,Trail Run,6.31,107,97,2790.0,22.99,27.99,139.21,...,25:50,06:20,138.5,188.0,89,38,0,80,13,16
11,11,2022-01-01,Outdoor Running,2.37,65,524,7618.0,16.47,164.78,87.60,...,27:44,06:15,146.0,190.0,102,17,0,71,46,12
12,12,2022-01-01,Indoor Cycling,3.50,43,158,NaN,12.54,25.36,184.20,...,NaN,NaN,99.0,90.0,108,21,32,0,24,59
13,13,2022-01-01,Outdoor Cycling,1.86,111,195,NaN,19.95,15.99,317.51,...,NaN,NaN,134.5,177.0,92,26,45,15,64,84
14,14,2022-01-01,Freestyle,8.41,70,412,NaN,35.93,113.85,262.50,...,NaN,NaN,115.0,122.0,108,36,28,2,28,63
15,15,2022-01-01,Open Water,6.77,102,333,NaN,11.46,155.72,201.74,...,NaN,NaN,123.0,166.0,80,43,0,5,22,18
16,16,2022-01-01,Trekking,5.69,78,248,5028.0,3.22,47.35,321.79,...,24:45,07:45,108.5,124.0,93,19,50,0,23,96
17,17,2022-01-01,Trekking,6.54,118,496,5028.0,2.99,87.50,135.87,...,24:45,07:45,113.0,124.0,102,17,50,0,63,37
18,18,2022-01-01,Treadmill,1.89,108,150,4550.0,31.49,69.99,198.70,...,27:58,07:58,103.0,105.0,101,26,26,7,46,64
19,19,2022-01-01,Open Water,1.48,47,441,NaN,26.49,136.32,206.15,...,NaN,NaN,131.0,166.0,96,0,0,5,63,61

B.) Remove the column that repeats the indexes and is ‘unnamed’ as a column

In [25]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

C.) Clean the column names to remove the unit declaration, (%), using regular expressions. The column
name should not have any trailing spaces after cleaning. You will only receive partial credit for simply renaming
columns without using regular expressions.

In [26]:
df = df.rename(columns=lambda x: re.sub(r'[(.%)]','',x))

In [27]:
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

D.) Convert ‘activity day’ column into a datetime format.

In [28]:
df['activity_day'].dtype

dtype('O')

In [29]:
df['activity_day'] = pd.to_datetime(df['activity_day'])

df['activity_day'].dtype

dtype('<M8[ns]')

E.) Impute ‘total steps’ by replacing the ‘NaN’s with an appropriate number of steps. Convert to appropriate datatype.

In [30]:
df['total_steps'].dtype

dtype('float64')

In [31]:
df['total_steps'].fillna(value=df['total_steps'].min(0), inplace=True)
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

F.) Convert non-empty ‘avg pace’ into a float that is still representative of the information contained in the column. Recall that there are 60 seconds in one minute so 3:30 is equivalent to 3.5 minutes.

In [32]:
df['avg_pace'].dtype

dtype('O')

In [33]:
df['avg_pace'] = pd.DatetimeIndex(df['avg_pace'])
df['avg_pace'] = df['avg_pace'].apply(lambda avg_pace: avg_pace.hour + (avg_pace.minute / 60))
df['avg_pace'].head(10)

0         NaN
1         NaN
2         NaN
3    7.966667
4         NaN
5         NaN
6         NaN
7    6.733333
8    6.800000
9         NaN
Name: avg_pace, dtype: float64

G.) Group data by ‘workout type’ and find the mean, median, count and standard deviation of ‘calories’.

In [34]:
df.groupby('workout_type').agg(['mean', 'median', 'count', 'std'])['calories']

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

H.)  Create an indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity

In [35]:
df['aerobic_indicator'] = np.where(df['aerobic'] >= 30, 'True', 'False')
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,aerobic_indicator
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,...,NaN,112.5,122.0,103,19,28,2,7,50,False
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,...,NaN,111.0,122.0,100,42,28,2,29,88,False
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,...,NaN,95.0,90.0,100,1,32,0,22,43,True
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,7.966667,...,07:58,83.0,85.0,81,3,22,0,24,65,False
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,...,NaN,138.0,166.0,110,7,0,5,21,88,False

I.) Which day of the week (Monday, Tuesday, etc.) and ‘workout type‘ has the maximum of the ‘max cadence’.

In [36]:
df1 = df.loc[df['max_cadence'] == df['max_cadence'].max()]
print('maximum_cadence = ' + str(df['max_cadence'].max()))
print('workout_type = ' + df1.workout_type.iloc[0])
print('day_of_week = ' + df1.activity_day.dt.day_name().iloc[0])

maximum_cadence = 349.78
workout_type = Pool Swimming
day_of_week = Wednesday

##2. Questions about the exam

###(a) Approximately how long did you work on this exam?
It took me about 2 hours to do this test
###(b) Which was the hardest and easiest topic from this section?
Doing the date and time question probably took me the longest to figure and do.

###(c) Which method of cleaning data should I have spent more instructional time on?
I think all the cleaning methods are great.