<a href="https://colab.research.google.com/github/chabpre/dataprovisual/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Finding the second most popular station

In [5]:
%%bigquery --project temporal-nebula-338801
SELECT MAX(start_station_name) as second_most_popular
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name != (SELECT MAX(start_station_name) as most_popular_start_station FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`)

                                 second_most_popular
0  Zilker Park at Barton Springs & William Barton...

Find the number of round trips that lasted longer than an hour

In [6]:
%%bigquery --project temporal-nebula-338801
SELECT  COUNTIF(duration_minutes>60) as over_an_hour_duration ,COUNT( start_station_name) as number_of_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name

   over_an_hour_duration  number_of_trips
0                  54795           228339

Finding the actual stations that were over an hour and were a round trip

In [7]:
%%bigquery --project temporal-nebula-338801
SELECT  start_station_name as station_name,  COUNTIF(duration_minutes>60) as over_an_hour_duration, COUNT( start_station_name) as number_of_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name
GROUP BY start_station_name

                                station_name  ...  number_of_trips
0                    Toomey Rd @ South Lamar  ...              633
1            State Capitol @ 14th & Colorado  ...              910
2                           Waller & 6th St.  ...              583
3                                 Pease Park  ...              167
4    Capital Metro HQ - East 5th at Broadway  ...              635
..                                       ...  ...              ...
179    Republic Square @ Guadalupe & 4th St.  ...             1090
180                               3rd & West  ...             2002
181                                 3rd/West  ...              816
182                              26th/Nueces  ...              607
183                            Nueces & 26th  ...             1425

[184 rows x 3 columns]