<a href="https://colab.research.google.com/github/chabpre/dataprovisual/blob/main/Quiz6_SQL_Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Okay so first I am going to view the two tables

In [4]:
%%bigquery --project temporal-nebula-338801
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

In [3]:
%%bigquery --project temporal-nebula-338801
SELECT name, property_type
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
LIMIT 10

                                    name property_type
0                             Pease Park          None
1                        Republic Square          None
2                       Waller & 6th St.          None
3        Bullock Museum @ Congress & MLK          None
4        State Capitol @ 14th & Colorado          None
5                ACC - Rio Grande & 12th          None
6               ACC - West & 12th Street          None
7  Republic Square @ Guadalupe & 4th St.          None
8                       5th & San Marcos          None
9                      Rainey @ River St          None

The following calculates the average time for each type

In [2]:
%%bigquery --project temporal-nebula-338801

SELECT  station.property_type, AVG(trips.duration_minutes ) as averagetime
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`as trips LEFT OUTER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_stations` as station
      ON trips.start_station_name= station.name
      GROUP BY  property_type
LIMIT 10

          property_type  averagetime
0                  None    38.339652
1  undetermined_parking    23.098028
2              sidewalk    29.263569
3    nonmetered_parking    49.046326
4          paid_parking    25.852535
5              parkland    39.375957
6                          33.502832